# GitHub Packages Authentication
#
# To install @mattfletcher94/festinalente from GitHub Packages:
#
# 1. Create a Personal Access Token (PAT) at https://github.com/settings/tokens
#    - Select "read:packages" scope for installation
#    - Select "write:packages" scope if you need to publish
#
# 2. Add these lines to your ~/.npmrc (NOT project .npmrc):
#
//npm.pkg.github.com/:_authToken=YOUR_GITHUB_PAT
@mattfletcher94:registry=https://npm.pkg.github.com
#
# 3. Now you can install:
#    npx @mattfletcher94/festinalente
#
# Note: The package is private. Only users with read access to the
# mattfletcher94/festinalente repository can install it.
